.loadpage {
  position: absolute;
  background-image: url('../car/11.jpg');
  background-size: cover;
  height: 700px;
  width: 1519.2px;
  z-index: -2;
}

.loading {
  position: relative;
  height: 700px;
  width: 1519.2px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.options {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.home {
  color: white;
  font-family: Outfit, sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s ease;
}

.home:hover {
  color: rgb(245, 183, 84);
}

.name {
  height: 20px;
}
.renax {
  margin-left: 200px;
  margin-right: 500px;
  cursor: pointer;
}

.premium {
  position: absolute;
  top: 310px;
  left: 200px;
}

.rent{
  color:rgb(245, 183, 84);
  font-family: Outfit, sans-serif;
  font-size: 10px;
  letter-spacing: 5px;
}

.rent1 {
  color: white;
  font-family: Outfit, sans-serif;
  font-weight: 700;
  font-size: 80px;
}

.rent11 {
  color: white;
  margin-left: 2px;
  font-family: Outfit, sans-serif;
}

.rent12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.rent111 {
  color: white;
  font-size: 12px;
  font-family: Outfit, sans-serif;
}

.ok {
  color: rgb(245, 183, 84);
  font-weight: 550;
  font-size: 25px;
}

.details {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:20px;
}

.button {
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  border-radius: 30px;
  background-color: rgb(245, 183, 84);
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}

.button1 {
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  border-color: whitesmoke;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: white;
}

.button1:hover {
  background-color: rgb(245, 183, 84);
  border-color: rgb(245, 183, 84);
  color: black;
}


.premium1 {
  margin-top: 100px;
  margin-left: 200px;
  display: inline-block;
}

.rent0 {
  color: white;
  font-family: Outfit, sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.aa {
  margin-top: 15px;
  margin-bottom: 0px;
}

.aaa {
  margin-top: 1px;
  margin-bottom: 0px;
  color: rgb(245, 183, 84);
}

.rent10 {
  width: 600px;
  color:rgb(153, 153, 153);
  margin-top: 20px;
}

.button11 {
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  border-radius: 30px;
  background-color: rgb(245, 183, 84);
  cursor: pointer;
  border: none;
  transition: 0.5s ease;
}

.button11:hover {
  background-color: white;
  transform: translateY(-8px);
}

.cargo {
  margin-left: 1000px; 
  margin-top: -320px;
}

.car1 {
  height: 400px;
  width: 300px;
  border-radius: 20px;
  transition: 0.5s ease;
  cursor: pointer;
}

.car1:hover {
  transform: scale(1.1);
}


.serv11 {
  margin-left: 710px;
  margin-top: 150px;
  color: rgb(245, 183, 84);
  letter-spacing: 6px;
}


.services {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
  margin-left: 670px;
  margin-top: 0px;
}

.serve {
  color: rgb(245, 183, 84);
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.boxes1 {
  margin-left: 90px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../car/1.jpg');
  background-size: 100% 100%;
  height: 372px;
  width: 372px;
  border-radius: 20px;
  transition: background-size  0.5s ease;
}




.boxes2 {
  margin-left: 90px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../car/2.jpg');
  background-size: 100% 100%;
  height: 372px;
  width: 372px;
  border-radius: 20px;
  transition: background-size  0.5s ease;
}


.boxes3 {
  margin-left: 90px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../car/3.jpg');
  background-size: 100% 100%;
  height: 372px;
  width: 372px;
  border-radius: 20px;
  transition: background-size  0.5s ease;
}


.boxes4 {
  margin-left: 90px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../car/4.jpg');
  background-size: 100% 100%;
  height: 372px;
  width: 372px;
  border-radius: 20px;
  transition: background-size  0.5s ease;
}


.boxes5 {
  margin-left: 90px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../car/5.jpg');
  background-size: 100% 100%;
  height: 372px;
  width: 372px;
  border-radius: 20px;
  transition: background-size  0.5s ease;
}


.boxes6 {
  margin-left: 90px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../car/6.jpg');
  background-size: 100% 100%;
  height: 372px;
  width: 372px;
  border-radius: 20px;
  transition: background-size  0.5s ease;
}

.boxes1:hover, .boxes2:hover, .boxes3:hover,
.boxes4:hover, .boxes5:hover, .boxes6:hover {
  background-size: 105% 105%;
}

.info {
  margin-left: 20px;
  margin-top: 320px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  font-family: Outfit, sans-serif;
}

.one {
  margin-top: 300px;
  margin-left: 15px;
  background-color: transparent;
  border-color: rgb(245, 183, 84);
  border-style: solid;
  border-width: 0.8px;
  color: white;
  font-size: 20px;
  font-family: Outfit, sans-serif;
  font-weight: 700;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.boxes1:hover .one, .boxes2:hover .one, .boxes3:hover .one, 
.boxes4:hover .one, .boxes5:hover .one, .boxes6:hover .one {
  background-color: rgb(245, 183, 84);
  color: black;
}



.combo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
